<h1>Events</h1>
<div><%= link_to "Create Event", events_new_path %></div>
<% @events.includes(:creator).each do |event| %>
    <p>Title: <%= event.title %></p>
    <p>Location: <%= event.location %></p>
    <p>Creator: <%= event.creator.username %></p>
<% end %>